/***** HEADER CSS NOT REQUIRED FOR DEMO *****/

#safe-ribbon a{
  z-index: 2000;
  background:#E98300;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#safe-ribbon a:hover{
  background:#DA7B00;
  color:#fff;
}


#safe-ribbon a::before,#safe-ribbon a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#ffffff;
}

#safe-ribbon a::after{
  bottom:1px;
  top:auto;
}

@media screen and (min-width:767px){
  #safe-ribbon{
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }
  #safe-ribbon a{
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    box-shadow:0px 1px 4px rgba(0,0,0,0.8);
  }
}


body {
  padding-top: 60px;
  font-family: verdana;
}

@media (max-width: 980px) {
  body{
    padding-top: 0;
  }
}

.brand{
  color: #ffffff !important;
  font-weight: 300 !important;
  text-shadow: none !important;
}


.navbar-inner {
  background-color: #7AB800;
  background-image: none;
}

/**** End of Header CSS ****/


.fileName{
  width:222px;
  height:27px;
  float:left;
  padding-top: 13px;
}

.progress {
  height:20px;
  margin-bottom:0;
}

.progressBar {
  width:444px;
  height:30px;
  float:left;
  padding-top:10px;
}

.fileBtn{
  padding-top: 5px;
  padding-left:60px;
  padding-right:42px;
  width:120px;
  height:35px;
  float:right;
}

.fileRow{
  height:40px;
  border-color:#A9A9A9;
  border-bottom-style: dotted;
  border-width: 1px;
}

#fileTable{
  border-color:#A9A9A9;
  border-top-style: dotted;
  border-top-width: 1px;
}

.results{
  font-size: 25px;
  font-style: bold;
  height: 452px;
  text-align: center;
}

.loadingImage{

}

.submissionPage{
  height: 452px;
}

#dropzone {
  font-weight: bold;
}

#dropzone.in {

  font-size: larger;
}

#dropzone.hover {
  background: darkgrey;
}

#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

#dropText{
  text-align: center;
}